ConsoleApp1/Connected Services/VelibPlannerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/velibPlanner" />
  <xs:element name="ComputeRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/velibPlanner" minOccurs="0" name="current" nillable="true" type="q1:Location" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/velibPlanner" minOccurs="0" name="destination" nillable="true" type="q2:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/velibPlanner" minOccurs="0" name="ComputeRouteResult" nillable="true" type="q3:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>