ConsoleApp1/Connected Services/VelibPlannerServiceReference/velibPlanner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/velibPlanner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/velibPlanner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Route">
    <xs:sequence>
      <xs:element minOccurs="0" name="duration" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
</xs:schema>