ConsoleApp1/Connected Services/VelibPlannerServiceReference/velibPlanner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/velibPlanner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/velibPlanner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/velibPlanner.entities" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Mock">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mock" nillable="true" type="tns:Mock" />
  <xs:complexType name="Route">
    <xs:sequence>
      <xs:element minOccurs="0" name="duration" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="durations" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/velibPlanner.entities" minOccurs="0" name="segments" nillable="true" type="q2:ArrayOfSegment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
</xs:schema>